<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{{^username}}
<form action="login" method="post">
    <input type="text" placeholder="Enter your name" name="name">
    <button type="submit">Submit</button>
</form>
{{/username}}
<br><br>
<h2>{{^username}}  Messages by {{.}}!  {{/username}}</h2>

<br>

<form action="create-message" method="post">
    <input type="text" placeholder="Enter a todo item" name="text">
    <button type="submit">Submit</button>
</form>
<br><br>
{{#username}}
{{#message}}
<form action="delete-message" method="post">
    <input type="hidden" value="{{id}}" name="id"/>
    {{id}}      {{text}}
    <button type="submit">Delete</button>
</form>
{{/message}}
{{/username}}
</body>
</html>